*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Segoe UI Historic;
  src: url("/fonts/Segoe\ ui\ historic.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-blue-color: #1b74e4;
  --secondary-blue-color: #216fdb;
  --primary-button-background: #e4e6eb;
  --main-body-color: #eee;
  --main-border-color: #aaa;
  --title-color: #65676b;
  --dark-gray-hover-color: hsla(0, 0%, 86%, 0.825);
  --light-gray-hover-color: hsla(0, 3%, 71%, 0.125);
  --account-btn-hover-color: hsla(0, 3%, 71%, 0.825);
  --white-theme-color: white;
  --user-online-color: green;
  --custom-scrollbar-color: #ced0d4;
  --invert-color: invert(100%);
  --btn-hover-color: #ddd;
  --primary-hover-blue: #1a63d3;
  --header-color: #121;
  --light-blue-theme: rgba(0, 227, 204, 0.2);
  --light-blue-hover-theme: rgba(0, 159, 143, 0.2);
  --nav-btn-color: #888;
  --logo-container-color: #ddd;
  --live-logo-red: hsl(350, 87%, 55%);
  --create-new-listing-logo-color: invert(39%) sepia(57%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(200%)
    saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-body-color);
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  font-display: swap;
  position: absolute;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  padding: 0.5rem;
  min-width: 100vw;
  height: 60px;
  background-color: white;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px 0 #ddd;
  z-index: 50;
}

.facebook-logo:hover {
  cursor: pointer;
}

.more {
  display: none;
}

.more-btn-selected {
  border-bottom: 3px solid var(--secondary-blue-color);
}

.navigation-section {
  width: 500px;
}

.nav-btn {
  color: var(--nav-btn-color);
  cursor: pointer;
  min-width: 100px;
  padding: 0.8rem;
}

.nav-btn:hover {
  background-color: var(--light-gray-hover-color);
  border-radius: 0.3em;
}

.gaming {
  color: var(--primary-blue-color);
  border-bottom: 3px solid var(--primary-blue-color);
}

.acc {
  cursor: pointer;
  margin-right: 1rem;
  background-color: var(--logo-container-color);
  padding: 0.5rem;
  border-radius: 50%;
}

.acc:last-child {
  margin-right: 0;
}

.account-btn:hover {
  background-color: var(--account-btn-hover-color);
}

.grid-container {
  display: grid;
  grid-gap: 0.11111rem;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
}

.grid-item {
  background-color: black;
  border-radius: 50%;
}

.navbar-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.navbar-profile-picture:hover {
  cursor: pointer;
}

.search-section input {
  background: url("https://www.freeiconspng.com/uploads/magnifying-glass-icon-24.png")
    no-repeat;
  background-position: left 50% center;
  background-size: 20px;
  width: 40px;
  outline: none;
  border: none;
  resize: none;
  background-color: var(--main-body-color);
  border-radius: 50%;
  padding: 0.7rem;
}

.gaming-section {
  position: fixed;
  top: 60px;
  min-height: 100vh;
  max-width: 360px;
  height: 600px;

  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0.3rem;
  padding-bottom: 3rem;

  width: 360px;
  height: 100vh;
  background-color: var(--white-theme-color);
  font-weight: bold;
  overflow-y: auto;
  z-index: 1;
}

.gaming-section input {
  background: url("https://www.freeiconspng.com/uploads/magnifying-glass-icon-24.png")
    no-repeat;
  background-position: left 3% center;
  background-size: 15px;
  outline: none;
  border: none;
  resize: none;
  background-color: var(--main-body-color);
  width: 100%;
  overflow: hidden;
  padding: 0.8rem;
  padding-left: 2rem;
  border-radius: 1000000000000px;
}

.gaming-section::-webkit-scrollbar-thumb {
  background-color: var(--custom-scrollbar-color);
}

.gaming-section::-webkit-scrollbar-track {
  background-color: transparent;
}

.gaming-section::-webkit-scrollbar {
  width: 0.5vw;
}

.gaming-section-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--main-body-color);
  width: 340px;
  background-color: var(--white-theme-color);
  margin-top: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  margin-left: 0.5rem;
}

.gaming-section-fixed {
  position: fixed;
  z-index: 10;
}

.search-gaming {
  margin-top: 60px;
}

.options-icon-container {
  background-color: var(--primary-button-background);
  padding: 0.4rem;
  margin-right: 1rem;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.options-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/XwOHb3iFP5m.png");
  background-position: -88px -132px;
  background-size: 190px 204px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.options-icon-container:hover {
  background-color: var(--dark-gray-hover-color);
  cursor: pointer;
}

.gaming-list {
  margin-top: 1rem;
}

.list {
  border-bottom: 1px solid #888;
}

.list-element {
  display: flex;
  align-items: center;

  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
}

.list-element:hover {
  background-color: var(--dark-gray-hover-color);
  border-radius: 0.3em;
  cursor: pointer;
}

.list-element-name {
  margin-left: 1rem;
}

.logo-container {
  padding: 0.4rem;
  border-radius: 50%;
  background-color: var(--logo-container-color);
}

.logo-container-for-you {
  background-color: var(--secondary-blue-color);
}

.logo,
.arrow-logo {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

  z-index: 1;
}

.logo-for-you {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/dcIfXs7E6Mv.png");
  background-position: 0px -452px;
  background-size: 34px 1634px;

  -webkit-filter: var(--invert-color);
}

.logo-video {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/HxPp7QkKTYL.png");
  background-position: 0px -382px;
  background-size: 25px 580px;
}

.logo-tournaments {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/tHswKt8Qv3Y.png");
  background-position: 0 -66px;
  background-size: 22px 88px;
}

.logo-play-games {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/yXXhY7o2Oxt.png");
  background-position: 0px -478px;
  background-size: 26px 906px;
}

.logo-notifications {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/yXXhY7o2Oxt.png");
  background-position: 0px -236px;
  background-size: 26px 906px;
}

.selected {
  background-color: var(--logo-container-color);
  border-radius: 0.3em;
}

.arrow-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/ZVRp7ppcqgx.png");
  background-position: -132px -128px;
  background-size: 190px 252px;
  -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
    hue-rotate(174deg) brightness(94%) contrast(86%);
}

.text-container {
  height: 2rem;
  margin-left: 0.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.following-streamers-text {
  margin: 1rem 1rem;
}

.streamer {
  display: flex;
  align-items: center;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.streamer-profile-picture img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
  object-fit: cover;
}

.streamer:hover {
  background-color: var(--dark-gray-hover-color);
  cursor: pointer;
}

.streamer-name {
  font-weight: normal;
}

.streamer-game {
  color: #888;
  font-size: 0.89rem;
  font-weight: normal;
}

.see-more {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}

.see-more-logo-container {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark-gray-hover-color);
  position: relative;
  margin-right: 0.5rem;
}

.see-more-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/lgJlZnnV-Rd.png");
  background-position: 0px -62px;
  background-size: 190px 204px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.see-more:hover {
  background-color: var(--dark-gray-hover-color);
  cursor: pointer;
  border-radius: 0.5rem;
}

.my-games {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-games-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-games-text {
  font-weight: 500;
}

.see-all {
  color: var(--secondary-blue-color);
  font-size: 0.9rem;
  font-weight: 400;
  padding: 0 0.5rem;
}

.see-all:hover {
  cursor: pointer;
  background-color: var(--dark-gray-hover-color);
  border-radius: 0.5em;
}

.create-shortcut-text {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: lighter;
  color: #888;
}

.add-games-container {
  display: flex;
  align-items: center;

  margin: 0.5rem 0;
  padding: 0.3rem;
  padding-left: 0;
}

.add-games-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 36px;
  height: 36px;
  background-color: var(--dark-gray-hover-color);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.add-games-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: 0px -134px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
}

.add-games-container:hover {
  background-color: var(--dark-gray-hover-color);
  cursor: pointer;
  border-radius: 0.5em;
}

.logo-all-games {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/j0M7U7A-KeE.png");
  background-position: 0px -358px;
  background-size: 34px 632px;
  -webkit-filter: invert(100%);
}

.logo-container-all-games {
  background-color: var(--secondary-blue-color);
}

.logo-action {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/toy-gun_filled_20_primary-icon.png");
}

.logo-adventure {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/map_filled_20_primary-icon.png");
}

.logo-arcade {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/joystick_filled_20_primary-icon.png");
}

.logo-battle {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/sword_filled_20_primary-icon.png");
}

.logo-board {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/joystick_filled_20_primary-icon.png");
}

.logo-builder {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/castle_filled_20_primary-icon.png");
}

.logo-card {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/cards_filled_20_primary-icon.png");
}

.logo-casino {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/dice_filled_20_primary-icon.png");
}

.logo-design {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/shapes_filled_20_primary-icon.png");
}

.logo-match {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/shapes_filled_20_primary-icon.png");
}

.logo-merge {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/square-two-dots_filled_20_primary-icon.png");
}

.logo-puzzle {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/puzzle_filled_20_primary-icon.png");
}

.logo-quick-play {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/stopwatch_filled_20_primary-icon.png");
}

.logo-quiz-and-trivia {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/comment-questions-exclamation_filled_20_primary-icon.png");
}

.logo-racing {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/flag_filled_20_primary-icon.png");
}

.logo-role-playing {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/barbute-helm_filled_20_primary-icon.png");
}

.logo-runner {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/running_filled_20_primary-icon.png");
}

.logo-simulation {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/simulation_filled_20_primary-icon.png");
}

.logo-solitaire {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/solitaire_filled_20_primary-icon.png");
}

.logo-sport {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/eight-ball_filled_20_primary-icon.png");
}

.logo-word {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/crossword_filled_20_primary-icon.png");
}

.category-name {
  margin-left: 0.5rem;
}

.suggested {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border-bottom: 1px solid #888;

  margin-bottom: 1rem;
}

.live-stream-section {
  position: relative;
  top: 60px;
  left: 360px;
}

.main-video-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 440px;
  background: linear-gradient(to right, black, rgb(74, 10, 10), black);

  transform: translateX(-980px);
  z-index: -5999;
}

.video-container {
  width: 640px;
  height: 360px;
  position: relative;
  cursor: pointer;
}

video {
  width: 640px;
  height: 340px;
}

.total-viewer-container {
  display: flex;
  align-items: center;

  position: absolute;
  top: 5%;
  left: 5%;
}

.live-logo {
  background-color: var(--live-logo-red);
  font-size: 0.7rem;
  width: fit-content;
  padding: 0.2rem;
  color: var(--white-theme-color);
  border-radius: 0.3em;
  margin-right: 0.5rem;
}

.total-viewer {
  width: 40px;
  display: flex;
  align-items: center;
  border-radius: 0.2em;

  background-color: hsla(0, 0%, 0%, 0.5);
}

.total-viewer-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -28px -350px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 0.2rem;
}

.total-viewer-count {
  color: var(--white-theme-color);
  margin-left: 0.2rem;
}

.play-pause-button {
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.play-pause-button svg {
  z-index: 600;
  width: 72px;
  height: 72px;
  -webkit-filter: invert(100%);
}

.play-icon,
.pause-icon {
  opacity: 0.6;
  transition: opacity 150ms ease-in-out;
}

.video-container:not(.active) .total-viewer-container {
  display: none;
}

.video-container:not(.active) .video-settings-container {
  display: none;
}

.video-container:not(.active) video {
  content: "";
  display: block;
  filter: invert(80%) blur(1px) opacity(0.6);
  z-index: -1;
}

.play-icon:hover,
.pause-icon:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container.played .play-icon {
  display: none;
}

.video-container:not(:hover) .pause-icon {
  display: none;
}

.video-container:not(:hover) .video-settings-container {
  display: none;
}

.video-volume-muted,
.video-volume-low,
.video-volume-medium,
.video-volume-high {
  display: none;
}

.video-container[data-volume-level="high"] .video-volume-high {
  display: block;
}
.video-container[data-volume-level="medium"] .video-volume-medium {
  display: block;
}
.video-container[data-volume-level="low"] .video-volume-low {
  display: block;
}
.video-container[data-volume-level="muted"] .video-volume-muted {
  display: block;
}

.create-a-clip {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/xGFS5rNaqYx.png");
  background-position: 0px 0px;
  background-size: 22px 44px;
  background-repeat: no-repeat;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  -webkit-filter: var(--invert-color);
}

.video-settings-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 5%;
  right: 5%;
}

.stream-video-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  bottom: 7%;
  right: 5%;
}

.user-preferences {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.stream-info-and-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-container:hover .stream-info-and-settings::before {
  content: "";
  position: absolute;
  bottom: 5.5%;
  left: 2.7%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 94.5%;
  aspect-ratio: 6 / 1;
  z-index: 2;
}

.video-container:hover .video-settings-container::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 100%;
  left: 5%;
  bottom: -20px;
  aspect-ratio: 6 / 1;
}

.video-settings {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/lgJlZnnV-Rd.png");
  background-position: -88px -132px;
  background-size: 190px 204px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  z-index: 10;
  -webkit-filter: invert(100%);
}

.post-video-play-icon-container,
.post-video-pause-icon-container {
  width: 24px;
  height: 24px;
  -webkit-filter: invert(100%);
}

.post-video-play-icon-container img,
.post-video-pause-icon-container img {
  width: 100%;
  height: 100%;
}

.post-play-pause-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 20;
  margin-left: 3rem;
  margin-right: 0.5rem;
}

.start-post-video-btn-container {
  width: 100px;
  height: 100px;
  -webkit-filter: invert(100%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 500;
  opacity: 0.7;
}

.start-post-video-btn-container:hover {
  opacity: 1;
}

.start-post-video-btn-container img {
  scale: 1.5;
}

.video-settigs,
.enlarge,
.mini-player,
.video-volume {
  margin-left: 1rem;
}

.video-volume {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}

.volume-slider {
  transform: rotate(270deg) translateX(60px) scaleY(0);
  position: absolute;
  width: 0px;
  transform-origin: inherit;
  transition: width 150ms ease-in-out;
}

.video-volume:hover .volume-slider {
  width: 100px;
  cursor: pointer;
  transform: rotate(270deg) translateX(60px) scaleY(1);
}

.video-volume-muted {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -44px -160px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: var(--invert-color);
}

.video-volume-low {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -52px -130px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: var(--invert-color);
}

.video-volume-medium {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: 0px -160px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: var(--invert-color);
}

.video-volume-high {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -52px -108px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: var(--invert-color);
}

.streamer-information-container {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 5%;
  left: 2%;
  z-index: 10;
  color: white;
}

.stream-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  margin: 0 0.3rem;
}

.slide-btn {
  position: absolute;
  color: #555;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 0 3px #888;
  padding: 0.9rem;
  border-radius: 50%;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
}

.slide-btn:hover {
  background-color: #eee;
  cursor: pointer;
}

.next-btn {
  right: 0%;
}

.previous-btn {
  left: 0%;
  transform: translateY(-50%) rotate(180deg);
}

.recent-activities-and-features {
  position: relative;
  top: 100px;
  left: 500px;
  width: 850px;
}

.featured-games-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.recent-activity-container,
.featured-games-container,
.built-by-players-container {
  background-color: var(--white-theme-color);
  padding: 1rem;
  box-shadow: 0 0 5px 0 hsla(0, 5%, 16%, 0.825);
  border-radius: 0.7em;
}

.featured-games-container,
.built-by-players-container {
  margin-top: 1rem;
}

.recent-activity-header,
.featured-games-header,
.built-by-players-header {
  font-weight: 500;
  margin-bottom: 1rem;
}

.featured-games-header,
.built-by-players-header {
  display: flex;
  align-items: center;
}

.featured-games-info,
.built-by-players-info {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/c6r33rbk_on.png");
  background-position: 0px -1412px;
  background-size: 34px 1556px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;
  -webkit-filter: invert(59%) sepia(11%) saturate(200%) saturate(135%)
    hue-rotate(176deg) brightness(96%) contrast(94%);
}

.recent-activity-wrapper {
  display: flex;
  cursor: pointer;
}

.recent-activity {
  position: relative;
}

.recent-activity img {
  width: 181px;
  height: 181px;
  border-radius: 0.3em;
  margin-right: 0.5rem;
}

.recent-activity-name {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-weight: bold;
  color: white;
}

.featured-game {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-right: 1em;
}

.featured-game-img-container {
  width: 181px;
  height: 181px;
}

.featured-game-img-container img {
  width: 100%;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}

.featured-game-info-wrapper {
  position: relative;
}

.blur {
  width: 181px;
  height: 80px;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background: linear-gradient(
    to top left,
    rgba(52, 50, 50, 0.8),
    rgba(24, 23, 23, 0.9)
  );
  overflow: hidden;
}

.blur img {
  filter: blur(20px);
}

.featured-game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 181px;
  height: 80px;

  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 0.5rem;
}

.flex-row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-game-name {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: white;
}

.featured-game-category {
  width: fit-content;
  font-size: 0.8rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 0.4rem;
  border-radius: 100000000000000000000px;
  color: var(--white-theme-color);
  margin-left: 0.3rem;
}

.featured-game-category-crayta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 0.4em;
  background-color: hsla(0, 0%, 0%, 0.5);
  color: var(--white-theme-color);
  border-radius: 100000000000000000000px;
}

.game-categories {
  display: flex;
  align-items: center;
}

.post {
  margin-top: 1.5rem;
  width: 100%;
  height: 610px;
  border-radius: 0.3em;
  box-shadow: 0 0 5px 0 hsla(0, 5%, 16%, 0.825);

  background-color: var(--white-theme-color);
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
}

.profile {
  display: flex;
}

.profile-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.main-details {
  display: flex;
  align-items: center;
}

.time-and-membership {
  display: flex;
  align-items: center;
}

.membership svg {
  align-self: flex-end;
}

.arrow {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/YAlWFUyR_cn.png");
  background-position: 0px -308px;
  background-size: 26px 372px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  align-self: flex-end;
}

.op-comment {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.post-video-container {
  background-color: black;
  height: 430px;
}

.post-video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: black;
}

.flex-row-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enlarge {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -22px -292px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
}

.mini-player {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -22px -248px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  z-index: 50;
  -webkit-filter: invert(100%);
}

.video-duration {
  color: white;
  display: flex;
  justify-self: flex-start;
  margin-right: auto;
}

.posted-video {
  width: 100%;
  height: 420px;
}

.timeline-container {
  height: 7px;
  margin-inline: 0.5rem;
  z-index: 50;
  width: 100%;
  cursor: pointer;
  display: flex;
  margin-right: auto;
  align-items: center;
}

.timeline {
  background-color: rgba(100, 100, 100, 0.5);
  height: 3px;
  width: 100%;
  z-index: 10;
  position: relative;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: #1b74e4;
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: white;
  border-radius: 50%;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
  z-index: 20;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border-top: 0.5px solid #999;
}

.likes-and-comments {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.total-likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-counter {
  margin-left: 0.5rem;
}

.reaction {
  width: 100%;
  padding: 0.2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #888;
}

.reaction:hover {
  border-radius: 0.3em;
  background-color: #eee;
}

.reaction > div {
  margin-right: 0.3rem;
}

.reaction-like {
  position: relative;
}

.reactions {
  display: flex;
  align-items: center;
  z-index: 1;
}

.reactions img {
  margin-left: -0.5rem;
}

.community-reaction img {
  width: 1rem;
  height: 1rem;
}

.community-reaction-love,
.community-reaction-care {
  z-index: -5;
}

.community-reaction-like img,
.community-reaction-love img {
  width: 1.5rem;
  height: 1.5rem;
}

.community-reaction-care img,
.community-reaction-smile img {
  width: 1.2rem;
  height: 1.2rem;
}

.comments {
  color: var(--title-color);
}

.comments:hover {
  cursor: pointer;
  text-decoration: underline;
}

.emotions-container {
  position: absolute;
  background-color: white;
  border-radius: 50000000000000000px;
  left: -2rem;
  top: -3.3rem;
  box-shadow: 0 0 2px black;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emotions-container img,
.emotions-container-comment img {
  width: 3rem;
  height: 3rem;
  transform: scale() 200ms;
}
.emoji-care img {
  width: 1.8rem;
  height: 1.8rem;
}

.emotions-container img,
.care img {
  margin-right: 1rem;
}
.emoji-like {
  margin-left: 0.7rem;
}
.emotions-container img:hover,
.emoji > img:hover,
.care img:hover {
  transform: scale(2);
}

.reaction-btn {
  background-size: 2rem;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.like-btn,
.comment-btn,
.share-btn {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/6CoDDGEBGGa.png");
  background-size: 26px 754px;
  background-repeat: none;
  width: 18px;
  height: 18px;
  -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
    hue-rotate(174deg) brightness(94%) contrast(86%);
}

.like-btn {
  background-position: 0px -262px;
}

.comment-btn {
  background-position: 0px -222px;
}

.share-btn {
  background-position: 0px -282px;
}

.btn-text {
  font-weight: 500;
}

.hide {
  display: none;
}

.category-buttons {
  display: none;
}

.category-btn {
  cursor: pointer;
  background-color: #ddd;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  border-radius: 1000000000000px;
  word-wrap: nowrap;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-weight: 500;
}

.category-btn:hover {
  background-color: #aaa;
}

.active-category {
  background-color: #e7f3ff;
  color: #216fdb;
  border: 1px solid rgba(56, 88, 152, 0.1);
}

.active-category:hover {
  background-color: #c6e2ee;
}

.create-message-icon-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 1rem;
  background-color: var(--white-theme-color);
  border-radius: 50%;
  box-shadow: 0 0 3px #777;
}

.create-message-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/4UmT4V1o0oJ.png");
  background-position: 0px -662px;
  background-size: 34px 1554px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.create-message-icon-container:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #444;
}

@media (max-width: 1370px) {
  .recent-activities-and-features {
    left: 400px;
    width: 600px;
  }

  .post {
    width: 100%;
    height: 590px;
  }

  .start-post-video-btn-container {
    left: 55%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (max-width: 1080px) {
  .main-video-container {
    width: 600px;
    height: 500px;
    transform: translateX(0px);
  }

  .active {
    width: 100%;
    height: 100%;
  }

  .active video {
    width: 100%;
    height: 100%;
  }

  .active .slide-btn {
    display: none;
  }

  .video-container .stream-info-and-settings::before {
    content: "";
    position: absolute;
    bottom: 5.5%;
    left: 2.7%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
    width: 94.5%;
    aspect-ratio: 6 / 1;
    z-index: 2;
  }

  .video-container:not(.active) {
    display: none;
  }

  .recent-activities-and-features {
    left: 400px;
    width: 400px;
  }

  .post {
    height: 420px;
  }

  .start-post-video-btn-container {
    left: 55%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media (max-width: 950px) {
  .gaming-section {
    display: none;
  }

  .live-stream-section {
    left: 0;
  }

  .main-video-container {
    width: 800px;
    height: 500px;
    transform: translateX(0px);
  }

  .active {
    width: 100%;
    height: 100%;
  }

  .active video {
    width: 100%;
    height: 100%;
  }

  .active .slide-btn {
    display: none;
  }

  .recent-activities-and-features {
    left: 0;
    width: 800px;
  }

  .category-buttons {
    display: block;
    position: relative;
    width: 400px;
    top: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 780px) {
  .main-video-container {
    width: 500px;
    height: 500px;
    transform: translateX(0px);
  }

  .active {
    width: 100%;
    height: 100%;
  }

  .active video {
    width: 100%;
    height: 100%;
  }

  .recent-activities-and-features {
    left: 0;
    width: 500px;
  }

  .navigation-section {
    display: none;
  }

  .more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
  }
}
