*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Segoe UI Historic;
  src: url("/fonts/Segoe\ ui\ historic.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  font-display: swap;
  position: absolute;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  padding: 0.5rem;
  min-width: 100vw;
  height: 60px;
  background-color: white;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px 0 #ddd;
  z-index: 50;
}

.facebook-logo:hover {
  cursor: pointer;
}

.more {
  display: none;
}

.more-btn-selected {
  border-bottom: 3px solid #216fdb;
}

.navigation-section {
  width: 500px;
}

.nav-btn {
  color: #888;
  cursor: pointer;
  min-width: 100px;
  padding: 0.8rem;
}

.nav-btn:hover {
  background-color: hsla(0, 0%, 86%, 0.225);
  border-radius: 0.3em;
}

.gaming {
  color: #1b74e4;
  border-bottom: 3px solid #1b74e4;
}

.acc {
  cursor: pointer;
  margin-right: 1rem;
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 50%;
}

.acc:last-child {
  margin-right: 0;
}

.account-btn:hover {
  background-color: hsla(0, 3%, 71%, 0.825);
}

.grid-container {
  display: grid;
  grid-gap: 0.11111rem;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
}

.grid-item {
  background-color: black;
  border-radius: 50%;
}

.navbar-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.navbar-profile-picture:hover {
  cursor: pointer;
}

.search-section input {
  background: url(./images/navbar/search-icon.svg) no-repeat;
  background-position: left 5% center;
  background-size: 10px;
  outline: none;
  border: none;
  resize: none;
  background-color: #eee;
  width: 120%;
  overflow: hidden;
  padding: 0.8rem;
  padding-left: 2rem;
  border-radius: 1000000000000px;
}

.gaming-section {
  position: fixed;
  top: 60px;
  min-height: 100vh;
  max-width: 360px;
  height: 600px;

  display: flex;
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 0.3rem;
  padding-bottom: 3rem;

  width: 360px;
  height: 100vh;
  background-color: white;
  font-weight: bold;
  overflow-y: auto;
  z-index: 1;
}

.gaming-section input {
  background: url(./images/navbar/search-icon.svg) no-repeat;
  background-position: left 5% center;
  background-size: 10px;
  outline: none;
  border: none;
  resize: none;
  background-color: #eee;
  width: 93%;
  overflow: hidden;
  padding: 0.6rem;
  padding-left: 2rem;
  border-radius: 1000000000000px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.gaming-section-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #888;
  width: 330px;
  background-color: white;
  margin-top: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gaming-section-fixed {
  position: fixed;
}

.search-gaming {
  margin-top: 60px;
}

.options {
  background-image: url(./friends-images/yTchWNy_Grf.png);
  background-repeat: no-repeat;
  background-position-y: 84.6%;
  background-position-x: -50%;
  background-size: 2.5rem;
  width: 2rem;
  height: 2rem;
  padding: 0.4rem;
  margin-right: 1rem;
  background-color: #eee;
  border-radius: 50%;
}

.gaming-list {
  margin-top: 1rem;
}

.list {
  border-bottom: 1px solid #888;
}

.list-element {
  display: flex;
  align-items: center;

  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
}

.list-element:hover {
  background-color: #ddd;
  border-radius: 0.3em;
  cursor: pointer;
}

.list-element-name {
  margin-left: 1rem;
}

.logo-container {
  padding: 0.4rem;
  border-radius: 50%;
  background-color: #ddd;
}

.logo-container-for-you {
  background-color: #1b74e4;
}

.logo,
.arrow-logo {
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.logo-for-you {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/dcIfXs7E6Mv.png");
  background-position: 0px -452px;
  background-size: 34px 1634px;

  -webkit-filter: invert(100%);
}

.logo-video {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/HxPp7QkKTYL.png");
  background-position: 0px -382px;
  background-size: 25px 580px;
}

.logo-tournaments {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/tHswKt8Qv3Y.png");
  background-position: 0 -66px;
  background-size: 22px 88px;
}

.logo-play-games {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/yXXhY7o2Oxt.png");
  background-position: 0px -478px;
  background-size: 26px 906px;
}

.logo-notifications {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/yXXhY7o2Oxt.png");
  background-position: 0px -236px;
  background-size: 26px 906px;
}

.selected {
  background-color: #ddd;
  border-radius: 0.3em;
}

.arrow-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/ZVRp7ppcqgx.png");
  background-position: -132px -128px;
  background-size: 190px 252px;
  -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
    hue-rotate(174deg) brightness(94%) contrast(86%);
}

.text-container {
  height: 2rem;
  margin-left: 0.5rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.following-streamers-text {
  margin: 1rem 1rem;
}

.streamer {
  display: flex;
  align-items: center;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.streamer-profile-picture img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
}

.streamer-name {
  font-weight: normal;
}

.streamer-game {
  color: #888;
  font-size: 0.89rem;
  font-weight: normal;
}

.see-more {
  display: flex;
  align-items: center;

  margin-bottom: 2rem;
}

.see-more-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/lgJlZnnV-Rd.png");
  background-position: 0px -62px;
  background-size: 190px 204px;
  background-repeat: no-repeat;
  background-color: #888;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-games {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-games-text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-games-text {
  font-weight: 500;
}

.see-all {
  color: #1b74e4;
  font-size: 0.9rem;
  font-weight: 400;
}

.create-shortcut-text {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: lighter;
  color: #888;
}

.add-games-container {
  display: flex;
  align-items: center;

  margin: 0.5rem 0;
}

.add-games-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.add-games-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: 0px -134px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  background-color: #888;
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.logo-all-games {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/ys/r/j0M7U7A-KeE.png");
  background-position: 0px -358px;
  background-size: 34px 632px;
  -webkit-filter: invert(100%);
}

.logo-container-all-games {
  background-color: #1b74e4;
}

.logo-action {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/toy-gun_filled_20_primary-icon.png");
}

.logo-adventure {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/map_filled_20_primary-icon.png");
}

.logo-arcade {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/joystick_filled_20_primary-icon.png");
}

.logo-battle {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/sword_filled_20_primary-icon.png");
}

.logo-board {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/joystick_filled_20_primary-icon.png");
}

.logo-builder {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/castle_filled_20_primary-icon.png");
}

.logo-card {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/cards_filled_20_primary-icon.png");
}

.logo-casino {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/dice_filled_20_primary-icon.png");
}

.logo-design {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/shapes_filled_20_primary-icon.png");
}

.logo-match {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/shapes_filled_20_primary-icon.png");
}

.logo-merge {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/square-two-dots_filled_20_primary-icon.png");
}

.logo-puzzle {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/puzzle_filled_20_primary-icon.png");
}

.logo-quick-play {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/stopwatch_filled_20_primary-icon.png");
}

.logo-quiz-and-trivia {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/comment-questions-exclamation_filled_20_primary-icon.png");
}

.logo-racing {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/flag_filled_20_primary-icon.png");
}

.logo-role-playing {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/barbute-helm_filled_20_primary-icon.png");
}

.logo-runner {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/running_filled_20_primary-icon.png");
}

.logo-simulation {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/simulation_filled_20_primary-icon.png");
}

.logo-solitaire {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/solitaire_filled_20_primary-icon.png");
}

.logo-sport {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/eight-ball_filled_20_primary-icon.png");
}

.logo-word {
  background-image: url("https://www.facebook.com/images/assets_DO_NOT_HARDCODE/facebook_icons/crossword_filled_20_primary-icon.png");
}

.category-name {
  margin-left: 0.5rem;
}

.suggested {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border-bottom: 1px solid #888;

  margin-bottom: 1rem;
}

.live-stream-section {
  position: relative;
  top: 60px;
  left: 360px;
}

.main-video-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 360px;
  background-color: green;

  transform: translateX(-980px);
  z-index: -5999;
}

.video-container {
  width: 640px;
  height: 360px;
  position: relative;
  cursor: pointer;
}

video {
  margin-top: 10px;
  width: 640px;
  height: 340px;
}

.total-viewer-container {
  display: flex;
  align-items: center;

  position: absolute;
  top: 5%;
  left: 5%;
}

.live-logo {
  background-color: hsl(350, 87%, 55%);
  width: fit-content;
  padding: 0.2rem;
  color: white;
  border-radius: 0.3em;
  margin-right: 0.5rem;
}

.total-viewer {
  width: 40px;
  display: flex;
  align-items: center;
  border-radius: 0.3em;

  background-color: hsla(0, 0%, 0%, 0.5);
}

.total-viewer-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -28px -350px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  margin-left: 0.2rem;
}

.total-viewer-count {
  color: white;
  margin-left: 0.2rem;
}

.play-pause-button {
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.play-pause-button svg {
  z-index: 600;
  width: 72px;
  height: 72px;
  -webkit-filter: invert(100%);
}

.play-icon,
.pause-icon {
  opacity: 0.6;
  transition: opacity 150ms ease-in-out;
}

.video-container:not(.active) .total-viewer-container {
  display: none;
}

.video-container:not(.active) .video-settings-container {
  display: none;
}

.video-container:not(.active) video {
  content: "";
  display: block;
  filter: invert(80%) opacity(0.6);
  z-index: -1;
}

.play-icon:hover,
.pause-icon:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container.played .play-icon {
  display: none;
}

.video-container:not(:hover) .pause-icon {
  display: none;
}

.video-container:not(:hover) .video-settings-container {
  display: none;
}

.video-volume-muted,
.video-volume-low,
.video-volume-medium,
.video-volume-high {
  display: none;
}

.video-container[data-volume-level="high"] .video-volume-high {
  display: block;
}
.video-container[data-volume-level="medium"] .video-volume-medium {
  display: block;
}
.video-container[data-volume-level="low"] .video-volume-low {
  display: block;
}
.video-container[data-volume-level="muted"] .video-volume-muted {
  display: block;
}

.create-a-clip {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y6/r/xGFS5rNaqYx.png");
  background-position: 0px 0px;
  background-size: 22px 44px;
  background-repeat: no-repeat;
  z-index: 10;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
}

.video-settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;

  position: absolute;
  bottom: 7%;
  right: 5%;
}

.video-container:hover .stream-info-and-settings::before {
  content: "";
  position: absolute;
  bottom: 2%;
  left: 2.7%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
  width: 94.5%;
  aspect-ratio: 6 / 1;
  z-index: 2;
}

.video-settings {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/lgJlZnnV-Rd.png");
  background-position: -88px -132px;
  background-size: 190px 204px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  z-index: 10;
  -webkit-filter: invert(100%);
}

.video-volume {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volume-slider {
  transform: rotate(270deg) translateX(60px) scaleY(0);
  position: absolute;
  width: 0px;
  transform-origin: inherit;
  transition: width 150ms ease-in-out;
}

.video-settings-container:hover .volume-slider {
  width: 100px;
  cursor: pointer;
  transform: rotate(270deg) translateX(60px) scaleY(1);
}

.video-volume-muted {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -44px -160px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
}

.video-volume-low {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -52px -130px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
}

.video-volume-medium {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: 0px -160px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
}

.video-volume-high {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/Ma8KMLGEmp_.png");
  background-position: -52px -108px;
  background-size: 74px 364px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
}

.streamer-information-container {
  display: flex;
  align-items: center;

  position: absolute;
  bottom: 5%;
  left: 2%;
  z-index: 10;
  color: white;
}

.stream-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dot {
  margin: 0 0.3rem;
}

.slide-btn {
  position: absolute;
  color: #555;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 0 3px #888;
  padding: 0.9rem;
  border-radius: 50%;
  top: 50%;
  z-index: 10;
}

.slide-btn:hover {
  background-color: #eee;
  cursor: pointer;
}

.next-btn {
  right: 0%;
}

.previous-btn {
  left: 0%;
  transform: rotate(180deg);
}

.recent-activities-and-features {
  position: relative;
  top: 100px;
  left: 500px;
  width: 850px;
  height: 250px;
}

.recent-activity-container,
.featured-games-container,
.built-by-players-container {
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 5px 0 hsla(0, 5%, 16%, 0.825);
  border-radius: 0.7em;
}

.featured-games-container,
.built-by-players-container {
  margin-top: 1rem;
}

.recent-activity-header,
.featured-games-header {
  font-weight: 500;
  margin-bottom: 1rem;
}

.featured-games-header {
  display: flex;
  align-items: center;
}

.featured-games-info {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/c6r33rbk_on.png");
  background-position: 0px -1412px;
  background-size: 34px 1556px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-left: 0.5rem;
  -webkit-filter: invert(59%) sepia(11%) saturate(200%) saturate(135%)
    hue-rotate(176deg) brightness(96%) contrast(94%);
}

.recent-activity-wrapper {
  display: flex;
  cursor: pointer;
}

.recent-activity {
  position: relative;
}

.recent-activity img {
  width: 181px;
  height: 181px;
  border-radius: 0.3em;
  margin-right: 0.5rem;
}

.recent-activity-name {
  position: absolute;
  bottom: 10%;
  left: 5%;
  font-weight: bold;
  color: white;
}

.featured-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.featured-game-img-container {
  width: 181px;
  height: 181px;
}

.featured-game-img-container img {
  width: 100%;
}

.featured-game-info-wrapper {
  position: relative;
}

.blur {
  width: 181px;
  height: 80px;
  background: linear-gradient(
    to top left,
    rgba(190, 177, 177, 0.8),
    rgba(138, 130, 130, 0.9)
  );
  filter: blur(1px);
}

.featured-game-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 181px;
  height: 80px;

  position: absolute;
  bottom: 0;
  left: 5%;
}

.flex-row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-game-name {
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: white;
}

.featured-game-category {
  width: fit-content;
  font-size: 0.8rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  padding: 0.4rem;
  border-radius: 100000000000000000000px;
  color: white;
  margin-left: 0.3rem;
}

.game-categories {
  display: flex;
  align-items: center;
}

.flex-row-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}
