*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Segoe UI Historic;
  src: url("/fonts/Segoe\ ui\ historic.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-blue-color: #1b74e4;
  --secondary-blue-color: #216fdb;
  --primary-button-background: #e4e6eb;
  --main-body-color: #eee;
  --main-border-color: #aaa;
  --title-color: #65676b;
  --dark-gray-hover-color: hsla(0, 0%, 86%, 0.825);
  --light-gray-hover-color: hsla(0, 3%, 71%, 0.125);
  --account-btn-hover-color: hsla(0, 3%, 71%, 0.825);
  --white-theme-color: white;
  --user-online-color: green;
  --custom-scrollbar-color: #ced0d4;
  --invert-color: invert(100%);
  --btn-hover-color: #ddd;
  --primary-hover-blue: #1a63d3;
  --header-color: #121;
  --light-blue-theme: rgba(0, 227, 204, 0.2);
  --light-blue-hover-theme: rgba(0, 159, 143, 0.2);
  --nav-btn-color: #888;
  --logo-container-color: #ddd;
  --create-new-listing-logo-color: invert(39%) sepia(57%) saturate(200%)
    saturate(200%) saturate(200%) saturate(200%) saturate(200%)
    saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-body-color);
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  font-display: swap;
  position: absolute;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  padding: 0.5rem;
  min-width: 100vw;
  height: 60px;
  background-color: white;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px 0 #ddd;
  z-index: 50;
}

.facebook-logo:hover {
  cursor: pointer;
}

.more {
  display: none;
}

.more-btn-selected {
  border-bottom: 3px solid var(--secondary-blue-color);
}

.navigation-section {
  width: 500px;
}

.nav-btn {
  color: var(--nav-btn-color);
  cursor: pointer;
  min-width: 100px;
  padding: 0.8rem;
}

.nav-btn:hover {
  background-color: var(--light-gray-hover-color);
  border-radius: 0.3em;
}

.acc {
  cursor: pointer;
  margin-right: 1rem;
  background-color: var(--logo-container-color);
  padding: 0.5rem;
  border-radius: 50%;
}

.marketplace {
  border-bottom: 3px solid var(--primary-blue-color);
}

.marketplace svg {
  color: var(--primary-blue-color);
}

.acc:last-child {
  margin-right: 0;
}

.account-btn:hover {
  background-color: var(--account-btn-hover-color);
}

.grid-container {
  display: grid;
  grid-gap: 0.11111rem;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
}

.grid-item {
  background-color: black;
  border-radius: 50%;
}

.navbar-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
}

.navbar-profile-picture:hover {
  cursor: pointer;
}

.search-section input {
  background: url("https://www.freeiconspng.com/uploads/magnifying-glass-icon-24.png")
    no-repeat;
  background-position: left 50% center;
  background-size: 20px;
  width: 40px;
  outline: none;
  border: none;
  resize: none;
  background-color: var(--main-body-color);
  padding: 0.7rem;
  border-radius: 50%;
}

.marketplace-section {
  position: fixed;
  top: 60px;
  min-height: 100vh;
  max-width: 360px;
  height: 600px;

  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 0.3rem;
  padding-bottom: 3rem;

  width: 360px;
  height: 100vh;
  background-color: var(--white-theme-color);
  font-weight: bold;
}

.marketplace-section input {
  background: url("https://www.freeiconspng.com/uploads/magnifying-glass-icon-24.png")
    no-repeat;
  background-position: left 3% center;
  background-size: 15px;
  outline: none;
  border: none;
  resize: none;
  background-color: var(--main-body-color);
  width: 100%;
  overflow: hidden;
  padding: 0.8rem;
  padding-left: 2rem;
  border-radius: 1000000000000px;
}

.marketplace-section-header {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  width: 330px;
}

.marketplace-section-fixed {
  position: fixed;
  z-index: 10;
  background-color: var(--white-theme-color);
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--dark-gray-hover-color);
}

.marketplace-section::-webkit-scrollbar-thumb {
  background-color: var(--custom-scrollbar-color);
}

.marketplace-section::-webkit-scrollbar-track {
  background-color: transparent;
}

.marketplace-section::-webkit-scrollbar {
  width: 0.5vw;
}

.options-icon-container {
  background-color: var(--primary-button-background);
  padding: 0.4rem;
  margin-right: 1rem;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.options-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/XwOHb3iFP5m.png");
  background-position: -88px -132px;
  background-size: 190px 204px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.options-icon-container:hover {
  background-color: var(--dark-gray-hover-color);
  cursor: pointer;
}

.logo-container {
  padding: 0.4rem;
  border-radius: 50%;
  background-color: var(--logo-container-color);
}

.logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/QPFYH8uPAji.png");
  background-size: 34px 1568px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.logo-browse-all {
  background-position: 0px -958px;
  -webkit-filter: invert(100%);
}

.logo-notifications {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0 -378px;
  background-size: 34px 918px;
}

.logo-inbox {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0 -620px;
  background-size: 34px 918px;
}

.logo-buying {
  background-position: 0px -1200px;
}

.logo-selling {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0 -730px;
  background-size: 34px 918px;
}

.logo-vehicles {
  background-position: 0px -584px;
}

.logo-property-for-rent {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -282px -402px;
  background-size: 402px 524px;
}

.logo-classifieds {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0px -730px;
  background-size: 34px 918px;
}

.logo-clothing {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -194px -424px;
  background-size: 402px 524px;
}

.logo-electronics {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/QPFYH8uPAji.png");
  background-position: 0px -1002px;
  background-size: 34px 1568px;
}

.logo-entertainment {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -238px -402px;
  background-size: 402px 524px;
}

.logo-family {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0px -576px;
  background-size: 34px 918px;
}

.logo-free-stuff {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -216px -424px;
  background-size: 402px 524px;
}

.logo-garden-and-outdoors {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -260px -424px;
  background-size: 402px 524px;
}

.logo-hobbies {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -194px -402px;
  background-size: 402px 524px;
}

.logo-home-goods {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0px -598px;
  background-size: 34px 918px;
}

.logo-home-improvement-supplies {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -282px -424px;
  background-size: 402px 524px;
}

.logo-musical-instruments {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -260px -402px;
  background-size: 402px 524px;
}

.logo-office-supplies {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0px -730px;
  background-size: 34px 918px;
}

.logo-pet-supplies {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -348px -402px;
  background-size: 402px 524px;
}

.logo-property-for-sale {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -282px -402px;
  background-size: 402px 524px;
}

.logo-sporting-goods {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/aEBgLclW2nP.png");
  background-position: -370px -402px;
  background-size: 402px 524px;
}

.logo-toys-and-games {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/J3E5RecjPUe.png");
  background-position: 0px -554px;
  background-size: 34px 918px;
}

.logo-buy-and-sell-groups {
  background-position: 0 -386px;
}

.logo-container-browse-all {
  background-color: var(--secondary-blue-color);
}

.marketplace-list-section {
  position: relative;
  top: 100px;
}

.list {
  margin-top: 1rem;
}

.list-element {
  display: flex;
  align-items: center;

  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem;
}

.list-element:hover {
  background-color: var(--btn-hover-color);
  border-radius: 0.3em;
  cursor: pointer;
}

.list-element-name {
  margin-left: 1rem;
}

.selected {
  background-color: var(--btn-hover-color);
  border-radius: 0.3em;
}

.create-new-listing {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--light-blue-theme);
  padding: 0.5rem 1rem;
  border-radius: 0.3em;
}

.create-new-listing:hover {
  background-color: var(--light-blue-hover-theme);
  cursor: pointer;
}

.create-new-listing-logo {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/SL527AxQNwD.png");
  background-position: -54px -172px;
  background-size: 190px 204px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  -webkit-filter: var(--create-new-listing-logo-color);
  margin-right: 0.5rem;
}

.create-new-listing-text {
  color: var(--secondary-blue-color);
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 1rem;
  padding: 1rem;
  border-top: 1px solid var(--main-body-color);
  border-bottom: 1px solid var(--main-body-color);
}

.filter-details {
  margin-top: 1rem;
  color: var(--secondary-blue-color);
  font-size: 0.85rem;
  padding: 0.2rem;
  border-radius: 0.3em;
}

.filter-details:hover {
  background-color: var(--btn-hover-color);
  cursor: pointer;
}

.products-section {
  margin-left: 360px;
  margin-right: 0px;
  padding: 2rem;

  position: relative;
  top: 60px;
  min-width: calc(100vw - 350px);
}

.products-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todays-pick-text {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.location-info {
  color: var(--secondary-blue-color);
  position: relative;
}

.location-info::before {
  content: "";
  position: absolute;
  left: -12%;
  top: 10%;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y4/r/pxVoya6MKPC.png");
  background-position: 0px -1584px;
  background-size: 34px 1638px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  -webkit-filter: var(--create-new-listing-logo-color);
}

.location-info:hover {
  cursor: pointer;
  text-decoration: underline;
}

.products-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 268px);
  grid-auto-rows: auto;
  gap: 10px;
}

.product-grid-item:hover {
  cursor: pointer;
}

.item-image img {
  width: 265px;
  height: 265px;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  object-fit: cover;
}

.item-info {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.item-price {
  font-size: 1.1rem;
  font-weight: bold;
}

.item-name {
  font-size: 0.9rem;
  font-weight: 500;
}

.item-location {
  font-size: 0.75rem;
  font-weight: normal;
}

.flex-row-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-spaced {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.marketplace-shrink-search {
  position: relative;
  top: 60px;
  left: 10px;
  border-bottom: 1px solid black;
  padding: 1rem 0;
  background-color: var(--white-theme-color);

  display: none;
}

.search-btns {
  display: flex;
  gap: 10px;
}

.you-icon-container {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: var(--logo-container-color);
  position: relative;
}

.you-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yT/r/bD_cH3z4hGy.png");
  background-position: 0px -980px;
  background-size: 34px 1070px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.sell,
.all-categories {
  width: fit-content;
  padding: 0.4rem;
  border-radius: 100000000000px;
  font-weight: 500;
  background-color: var(--logo-container-color);
}

.marketplace-shrink-search input {
  background: url("https://www.freeiconspng.com/uploads/magnifying-glass-icon-24.png")
    no-repeat;
  background-position: left 3% center;
  background-size: 15px;
  outline: none;
  border: none;
  resize: none;
  background-color: var(--main-body-color);
  width: 120%;
  overflow: hidden;
  padding: 0.8rem;
  padding-left: 2rem;
  border-radius: 1000000000000px;
  margin-top: 1rem;
}

.create-message-icon-container {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 1rem;
  background-color: var(--white-theme-color);
  border-radius: 50%;
  box-shadow: 0 0 3px #777;
}

.create-message-icon {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/4UmT4V1o0oJ.png");
  background-position: 0px -662px;
  background-size: 34px 1554px;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.create-message-icon-container:hover {
  cursor: pointer;
  box-shadow: 0 0 3px #444;
}

@media (max-width: 1400px) {
  .products-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1150px) {
  .products-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .marketplace-section {
    display: none;
  }

  .marketplace-shrink-search {
    display: block;
  }

  .marketplace-shrink-search input {
    width: 860px;
  }

  .products-section {
    margin-left: 0;
    padding-top: 0;
  }

  .products-section-header {
    margin-bottom: 1rem;
  }

  .products-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .location-info {
    margin-right: 100px;
  }
}

@media (max-width: 550px) {
  .products-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .navigation-section {
    display: none;
  }

  .more {
    display: block;
  }

  .products-section {
    padding-left: 0;
    padding-top: 0;
  }

  .marketplace-shrink-search input {
    width: 450px;
  }
}
