*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Segoe UI Historic;
  src: url("/fonts/Segoe\ ui\ historic.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  font-display: swap;
}

.navbar {
  position: fixed;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  height: 60px;
  background-color: white;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px 0 #ddd;
  z-index: 5;
}

.facebook-logo:hover {
  cursor: pointer;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-section input {
  background: url(./images/navbar/search-icon.svg) no-repeat;
  background-position: left 5% center;
  background-size: 10px;
}

.search-section input {
  outline: none;
  border: none;
  resize: none;
  background-color: #eee;
  width: 120%;
  overflow: hidden;
  padding: 0.8rem;
  padding-left: 2rem;
  border-radius: 1000000000000px;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  cursor: pointer;
  min-width: 100px;
  padding: 0.8rem;
}

.nav-btn:hover {
  background-color: hsla(0, 0%, 86%, 0.225);
  border-radius: 0.3em;
}

.home {
  color: #1b74e4;
  border-bottom: 3px solid #1b74e4;
}

.account-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acc {
  cursor: pointer;
  margin-right: 1rem;
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 50%;
}

.acc:last-child {
  margin-right: 0;
}

.account-btn:hover {
  background-color: hsla(0, 3%, 71%, 0.825);
}

.grid-container {
  display: grid;
  grid-gap: 0.11111rem;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
}

.grid-item {
  background-color: black;
  border-radius: 50%;
}

.navbar-profile-picture,
.person img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.navbar-profile-picture:hover {
  cursor: pointer;
}

.main-feed {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
}

.a {
  justify-self: flex-end;
}

.shortcut-section,
.contacts-section {
  position: fixed;
  top: 60px;
  min-height: 100vh;
  max-width: 360px;
  height: 600px;

  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 0.3rem;
  padding-bottom: 3rem;
}

.shortcut-container {
  margin-top: 1rem;
}

.default-shortcut-container,
.sponsored-container,
.person-container {
  border-bottom: 0.5px solid #aaa;
  box-shadow: 0px 1px 0px #aaa;
}

.show-btn-default {
  margin-bottom: 1rem;
}

.shortcut,
.person {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9375rem;
  font-weight: 500;
}

.shortcut img {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.shortcut:hover,
.person:hover,
.group:hover,
.create-group:hover {
  background-color: hsla(0, 0%, 87%, 0.673);
  border-radius: 0.3em;
  cursor: pointer;
}

.show-btn {
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
}

.show-btn svg {
  margin-right: 1rem;
  padding: 0.3rem;
  background-color: #ddd;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.sponsored-container {
  padding-bottom: 1rem;
}

.show-btn:hover,
.edit:hover {
  cursor: pointer;
}

.personal-shortcut-text {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.your-shortcuts {
  font-size: 1.0625rem;
  color: #65676b;
  font-weight: 600;
  padding: 0 0.3rem;
}

.edit {
  color: #216fdb;
  font-size: 0.9375rem;
  font-weight: 400;
}

.custom-shortcuts {
  margin-top: 1rem;
}

.footer {
  word-wrap: break-word;
  max-width: initial;
}

.footer-list {
  padding: 0 0.3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.footer-list li {
  font-size: 0.8125rem;
  margin-right: 0.5rem;
}

.contacts-section {
  right: 0;
  width: 360px;
  margin-top: 1rem;
  font-size: 0.9375rem;
  font-weight: 500;
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.contacts-header-svg {
  display: flex;
  justify-content: space-between;
}

.contacts-header-svg div {
  margin-right: 1rem;
}

.contacts-header-svg:nth-child(2n) {
  cursor: pointer;
}

.contacts-section .person {
  margin-top: 1rem;
}

.person {
  position: relative;
}

.person::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
  right: 89%;
  top: 70%;
  padding: 0.2rem;
  border: 2px solid white;
}

.group {
  display: flex;
  margin-top: 1rem;
}

.group-images {
  padding-right: 3rem;
}

.group-images img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.group-images {
  position: relative;
  width: 36px;
  height: 36px;
}

.group-images::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 20%;
  bottom: 0%;
  background-color: green;
  padding: 0.2rem;
  border: 2px solid white;
  z-index: 3;
}

.groups-section-container {
  margin-top: 1rem;
}

.group-img-1 {
  position: absolute;
  top: 35%;
  z-index: 2;
}

.group-img-2 {
  position: absolute;
  left: 25%;
}

.group-name {
  display: flex;
  align-items: center;
}

.title {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #666;
}

.title:first-child {
  margin-top: 0;
}

.contacts-header-svg svg {
  color: #666;
}

.create-message-container {
  position: absolute;
  bottom: 12%;
  right: 15%;
}

.create-message img {
  width: 18px;
  height: 18px;
}

.create-message {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 3px #777;
  padding: 1rem;
  cursor: pointer;
}

.create-group {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.create-group svg {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
}

.create-group div {
  cursor: pointer;
}

.main-feed-section {
  margin-left: 360px;
  margin-right: 360px;
  padding: 2rem;

  position: relative;
  top: 60px;
  min-width: calc(100% - 720px);
}

.story-section-container {
  background-color: white;
  margin: auto;
  max-width: calc(5 * 118px);
  height: 270px;
  border: 1px solid hsla(200, 10%, 60%, 0.3);
  border-top-left-radius: 0.8em;
  border-top-right-radius: 0.8em;
  border-bottom-left-radius: 0.8em;
  border-bottom-right-radius: 0.8em;
  overflow: hidden;
}

.section-names {
  margin: auto;
  width: calc(5 * 118px);
  padding: 0.2rem 0.2rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-bottom: 1px solid hsla(200, 10%, 60%, 0.5);
  background-color: white;

  font-size: 0.9rem;
  font-weight: bold;
  color: #65676b;
}

.section-name {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  padding: 1rem;
  width: 100%;
}

.section-name:hover {
  background-color: hsla(0, 3%, 71%, 0.125);
  border-radius: 0.3em;
}

.selected {
  color: #216fdb;
  border-bottom: 3px solid #216fdb;
  border-radius: 0.2em;
}

.selected:hover {
  background-color: transparent;
}

.story-section,
.reels-section,
.rooms-section {
  min-width: calc(5 * 118px);
  max-width: 500px;
  margin: auto;
  margin-top: 0.5rem;
  position: relative;
  padding: 0.2rem 0;
  padding-left: 0.5rem;

  display: flex;
  justify-content: space-between;
}

.story,
.reel {
  position: relative;
  width: 110px;
  height: 190px;
  background-color: white;
  cursor: pointer;

  margin-right: 7.5rem;
}

.total-watch {
  position: absolute;
  bottom: 5%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.total-watch-logo img {
  width: 0.9rem;
  height: 0.9rem;
}

.total-watch-count {
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
}

.story-personal {
  border: 1px solid hsla(200, 10%, 60%, 0.7);
  border-radius: 0.3em;
  box-shadow: 0 0 5px 0 hsla(200, 10%, 60%, 0.7);
}

.profile-picture {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 5%;
  left: 10%;

  border-radius: 50%;
  border: 3px solid blue;
}

.story-image,
.personal-image,
.reel-image {
  width: 110px;
  height: 190px;
  overflow: hidden;

  position: absolute;

  border-radius: 0.3em;

  transition: 0.5s all ease-in-out;
}

.person-room img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.person-room-img-container {
  position: relative;
}

.person-room-img-container::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  bottom: 15%;
  right: 0%;
  background-color: green;
  border: 1px solid white;
}

.user-name {
  color: #eee;
  font-weight: bold;

  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 0.8rem;
}

.personal-image {
  width: 110px;
  height: 140px;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  border-radius: 0.3em;

  transition: 0.5s all ease-in-out;
}

.add-story-svg-container {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 100px;
  left: 55px;
  transform: translate(-50%, 50%);

  border-radius: 50%;
  background-color: #1b74e4;
  border: 5px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-story-svg-container::after {
  content: "Create story";
  position: absolute;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.8rem;
  top: 100%;
}

.add-story-btn {
  color: white;
  display: flex;
}

.story-image:hover,
.personal-image:hover {
  transform: scale(1.1);
  filter: grayscale(40%);
}

.story:hover {
  background-color: hsla(0, 0%, 86%, 0.225);
}

.rooms-section {
  height: 200px;
}

.room {
  width: 160px;
  height: 100%;

  padding: 0.2rem 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsla(0, 3%, 71%, 0.825);
  border-radius: 0.3em;
  white-space: nowrap;
  margin-right: 0.5rem;
}

.info {
  justify-self: flex-start;
  align-self: flex-end;
}

.info-emblem svg {
  width: 1rem;
  height: 1rem;
}

.create-room-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;

  padding: 0.3rem;
  border: 1px solid hsla(0, 3%, 71%, 0.225);
  border-radius: 50%;
}

.create-room-logo {
  background-image: url(./images/rooms/8m8W6qk28Db.png);
  background-position-x: -1.3%;
  background-position-y: 101%;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.room-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}

.friend-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.room-name-text {
  font-weight: bold;
  font-size: 0.91rem;
}

.get-started-text {
  font-weight: normal;
  font-size: 0.85rem;
  color: hsla(0, 3%, 51%, 0.825);
}

.btn-say-hi {
  margin-bottom: 0.7rem;
}

.btn-say-hi button {
  outline-style: none;
  border: 1px solid hsla(200, 20%, 50%, 0.5);
  box-shadow: 0 0 0 1px hsla(200, 50%, 70%, 0.4);
  padding: 0.5rem 3rem;
  border-radius: 0.3em;
  background-color: transparent;
  color: #1b74e4;
  font-weight: bold;
}

.slide-btn {
  position: absolute;
  color: #555;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 0 3px #888;
  padding: 0.9rem;
  border-radius: 50%;
  top: 40%;
  z-index: 10;
}

.next-btn {
  right: 7%;
}

.previous-btn {
  left: 7%;
  transform: rotate(180deg);
}

.slide-btn:hover {
  background-color: #eee;
  cursor: pointer;
}

.on-your-mind-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 590px;
  margin: 0 auto;
  border-radius: 0.3em;
  width: 590px;
  margin-top: 2rem;
  background-color: white;
  padding: 1rem;
}

.personal-share-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem;

  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.profile-photo {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.personal-share-input {
  outline: none;
  border: none;
  border-radius: 100000000000px;
  background-color: #ddd;
  width: 100%;
  height: 2.5rem;
  font-size: 1.2rem;
  padding-left: 1rem;
}

.personal-share-icons-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #999;
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon svg {
  margin-right: 0.5rem;
}

.icon-live-svg {
  color: rgb(226, 55, 83);
}

.icon-photo-svg {
  color: rgb(26, 172, 26);
}

.icon-activity-svg {
  color: rgb(166, 166, 24);
}

.create-room-section {
  width: 100%;
  min-width: 590px;
  border-radius: 0.3em;
  width: 590px;
  margin: 2rem auto;
  background-color: white;
  padding: 1rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.create-room {
  margin-right: 1rem;
  margin-left: 0.5rem;
  color: #1b74e4;
  font-weight: 500;
}

.create-room-section svg {
  color: linear-gradient(pink, purple);
}

.person-create-room img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.more-options {
  margin-bottom: 1rem;
  margin-right: 0.5rem;

  font-size: 1.2rem;
  color: #666;
}

.post-container {
  width: 100%;
  min-width: 590px;
  border-radius: 0.3em;
  width: 590px;
  margin: 2rem auto;
  background-color: #eee;
  padding: 1rem;
}

.profile-img-container {
  display: flex;
}

.user-info-container {
  display: flex;
  flex-direction: column;

  margin-left: 0.5rem;
}

.date-container {
  display: flex;
  align-items: center;
  height: 1rem;

  margin-top: 0.1rem;
  margin-bottom: 1rem;
}

.date-container .dot {
  margin-left: 0.3rem;
  font-size: 1.5rem;
}

.date-container .custom {
  height: 2rem;

  display: flex;
  align-items: center;
}

.date-container div {
  font-size: 0.8rem;
  color: #888;
}

.post-profile-picture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.custom {
  margin-left: 0.3rem;
}

.post {
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0.3em;
}

.post-body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body img {
  width: 500px;
  height: 480px;
}

.likes-and-comments {
  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.btn-text {
  font-weight: 500;
}

.reactions {
  display: flex;
  align-items: center;
  z-index: 1;
}

.reactions img {
  margin-left: -0.5rem;
}

.community-reaction img {
  width: 1rem;
  height: 1rem;
}

.community-reaction-love,
.community-reaction-care {
  z-index: -5;
}

.community-reaction-like img,
.community-reaction-love img {
  width: 1.5rem;
  height: 1.5rem;
}

.community-reaction-care img,
.community-reaction-smile img {
  width: 1.2rem;
  height: 1.2rem;
}

.total-likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-counter {
  margin-left: 0.5rem;
}

.buttons-container {
  padding: 0.2rem 1rem;
  margin-top: 0.5rem;
  height: 3rem;

  display: flex;
  justify-content: space-around;

  border-top: 0.5px solid #999;
  border-bottom: 0.5px solid #999;
}

.reaction {
  width: 100%;
  padding: 0.2rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #888;
}

.reaction:hover {
  border-radius: 0.3em;
  background-color: #eee;
}

.reaction > div {
  margin-right: 0.3rem;
}

.like-btn {
  background-image: url(./images/reactions/kUVRLWRtG-0.png);
  background-position: center;
  background-size: 2rem;
  background-repeat: none;
  background-position-y: 43.5%;
  width: 2rem;
  height: 1.5rem;
}

.like-btn-like {
  background-image: url(./images/buttons/like-reaction-btn.png);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  animation: reaction 0.5s forwards linear;
}

.like-btn-love {
  background-image: url(./images/buttons/love-reaction-btn.jpg);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  animation: reaction 0.5s forwards linear;
}

.like-btn-care {
  background-image: url(./images/buttons/care-reaction-btn.png);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  animation: reaction 0.5s forwards linear;
}

.like-btn-smile {
  background-image: url(./images/buttons/smile-reaction-btn.jpg);
  background-position: center;
  background-size: 2rem;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  animation: reaction 0.5s forwards linear;
}

.like-btn-wow {
  background-image: url(./images/buttons/wow-reaction-btn.png);
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  animation: reaction 0.5s forwards linear;
}

.like-btn-sad {
  background-image: url(./images/buttons/sad-reaction-btn.png);
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  animation: reaction 0.5s forwards linear;
}

.like-btn-angry {
  background-image: url(./images/buttons/angry-reaction-btn.jpg);
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  animation: reaction 0.5s forwards linear;
}

.reaction-like {
  position: relative;
}

.emotions-container {
  position: absolute;
  background-color: white;
  border-radius: 50000000000000000px;
  left: -2rem;
  top: -3.3rem;
  box-shadow: 0 0 2px black;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emotions-container img,
.emotions-container-comment img {
  width: 3rem;
  height: 3rem;
  transform: scale() 200ms;
}
.emoji-care img {
  width: 1.8rem;
  height: 1.8rem;
}

.emotions-container img,
.care img {
  margin-right: 1rem;
}
.emoji-like {
  margin-left: 0.7rem;
}
.emotions-container img:hover,
.emoji > img:hover,
.care img:hover {
  transform: scale(2);
}

.comment-btn {
  background-image: url(./images/reactions/kUVRLWRtG-0.png);
  background-size: 2rem;
  background-repeat: none;
  width: 1.5rem;
  height: 1.5rem;
  background-position-y: 38.3%;
}

.send-btn svg {
  width: 1.5rem;
  height: 1.5rem;
  background-position-y: 10%;
}

.user-profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.filter {
  width: 100%;
  height: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  cursor: pointer;
}

.filter-options {
  color: #999;
  font-weight: 500;
  margin-right: 0.5rem;
}

.arrow {
  width: 0.4rem;
  border: 0.4rem solid black;
  border-top-color: grey;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;

  align-self: flex-start;
}

.user-comment,
.user-comment-reply {
  width: 100%;
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
}

.user-profile-pic {
  position: relative;
}

.user-profile-pic img {
  margin-right: 0.4rem;
}

.user-profile-pic::after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  border: 3px solid white;
  top: 65%;
  left: 65%;
}

.user-comment-area {
  width: 100%;
  position: relative;
}

.user-comment-area input {
  width: 100%;
  border-radius: 999999999px;
  padding: 1.1rem 0.8rem;
  padding-right: 8rem;
  border: none;
  outline: none;
  height: 2rem;
  background-color: #eee;
  font-size: 0.9rem;
}

.comment-icons-container {
  display: flex;
  position: absolute;
  top: 25%;
  right: 2%;
}

.comment-icon {
  background-image: url(./images/reactions/kUVRLWRtG-0.png);
  background-size: 1.3rem;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
}

.comment-icon-avatar {
  background-position-y: 50.8%;
}

.comment-icon-emoji {
  background-position-y: 69.3%;
}

.comment-icon-photo {
  background-position-y: 60%;
}

.comment-icon-gif {
  background-position-y: 74.1%;
}

.comment-icon-sticker {
  background-position-y: 88.1%;
}

.comment-flex {
  display: flex;
}

.profile-picture-and-content {
  padding: 0.5rem;
}

.reply {
  padding: 0 0.5rem;
}

.replies-container {
  margin-left: 0.5rem;
}

.replies-container-replied {
  margin-left: 2rem;
}

.content {
  flex-direction: column;
  padding: 0.5rem;
  border-radius: 0.6em;
  margin-left: 0.5rem;

  background-color: #eee;
}

.commentator-name {
  font-weight: bold;
}

.comment-reactions {
  font-size: 0.8rem;
  font-weight: bold;
  color: #777;
  position: relative;
  margin-top: 0.25rem;
}

.comment-time {
  font-weight: normal;
}

.comment-reaction {
  margin-right: 0.6rem;
  cursor: pointer;
}

.comment-profile-picture img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.reply-logo {
  background-image: url(./images/reactions/kUVRLWRtG-0.png);
  background-size: 1.4rem;
  background-position-y: 92.6%;
  width: 1rem;
  height: 1rem;
}

.user-comment-reply {
  margin-left: 2rem;
  max-width: 90%;
}

.user-comment-input {
  color: black;
  white-space: initial;
}

.reply-notification {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 3rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #777;
  cursor: pointer;
}

.emotions-container-comment {
  position: absolute;
  background-color: white;
  border-radius: 50000000000000000px;
  left: -0.5rem;
  top: -3rem;
  box-shadow: 0 0 2px black;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-like-btn-container {
  position: absolute;
  right: 0%;
  bottom: -120%;
  background-color: white;
  padding: 0 0.5rem;
  border-radius: 0.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes reaction {
  0% {
  }

  50% {
    transform: scale(1.2) rotate(-25deg);
  }

  100% {
  }
}

.hide {
  display: none;
}
