*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Segoe UI Historic;
  src: url("/fonts/Segoe\ ui\ historic.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
  font-display: swap;
}

.navbar {
  position: fixed;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  height: 60px;
  background-color: white;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 5px 0 #ddd;
}

.facebook-logo:hover {
  cursor: pointer;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-section input {
  background: url(./images/navbar/search-icon.svg) no-repeat;
  background-position: left 5% center;
  background-size: 10px;
}

.search-section input {
  outline: none;
  border: none;
  resize: none;
  background-color: #eee;
  width: 120%;
  overflow: hidden;
  padding: 0.8rem;
  padding-left: 2rem;
  border-radius: 1000000000000px;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  cursor: pointer;
  min-width: 100px;
  padding: 0.8rem;
}

.nav-btn:hover {
  background-color: hsla(0, 0%, 86%, 0.225);
  border-radius: 0.3em;
}

.home {
  color: #1b74e4;
  border-bottom: 3px solid #1b74e4;
}

.account-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acc {
  cursor: pointer;
  margin-right: 1rem;
  background-color: #ddd;
  padding: 0.5rem;
  border-radius: 50%;
}

.acc:last-child {
  margin-right: 0;
}

.account-btn:hover {
  background-color: hsla(0, 3%, 71%, 0.825);
}

.grid-container {
  display: grid;
  grid-gap: 0.11111rem;
  grid-template-columns: repeat(3, 6px);
  grid-template-rows: repeat(3, 6px);
}

.grid-item {
  background-color: black;
  border-radius: 50%;
}

.navbar-profile-picture,
.person img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.navbar-profile-picture:hover {
  cursor: pointer;
}

.main-feed {
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
  min-height: 100vh;
}

.a {
  justify-self: flex-end;
}

.shortcut-section,
.contacts-section {
  position: fixed;
  top: 60px;
  min-height: 100vh;
  max-width: 360px;
  height: 600px;

  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-basis: 0;
  flex-grow: 1;
  padding: 0 0.3rem;
  padding-bottom: 3rem;
}

.shortcut-container {
  margin-top: 1rem;
}

.default-shortcut-container,
.sponsored-container,
.person-container {
  border-bottom: 0.5px solid #aaa;
  box-shadow: 0px 1px 0px #aaa;
}

.show-btn-default {
  margin-bottom: 1rem;
}

.shortcut,
.person {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 0.9375rem;
  font-weight: 500;
}

.shortcut img {
  width: 36px;
  height: 36px;
  margin-right: 1rem;
}

.shortcut:hover,
.person:hover,
.group:hover,
.create-group:hover {
  background-color: hsla(0, 0%, 87%, 0.673);
  border-radius: 0.3em;
  cursor: pointer;
}

.show-btn {
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
}

.show-btn svg {
  margin-right: 1rem;
  padding: 0.3rem;
  background-color: #ddd;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}

.sponsored-container {
  padding-bottom: 1rem;
}

.show-btn:hover,
.edit:hover {
  cursor: pointer;
}

.personal-shortcut-text {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.your-shortcuts {
  font-size: 1.0625rem;
  color: #65676b;
  font-weight: 600;
  padding: 0 0.3rem;
}

.edit {
  color: #216fdb;
  font-size: 0.9375rem;
  font-weight: 400;
}

.custom-shortcuts {
  margin-top: 1rem;
}

.footer {
  word-wrap: break-word;
  max-width: initial;
}

.footer-list {
  padding: 0 0.3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.footer-list li {
  font-size: 0.8125rem;
  margin-right: 0.5rem;
}

.contacts-section {
  right: 0;
  width: 360px;
  margin-top: 1rem;
  font-size: 0.9375rem;
  font-weight: 500;
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.contacts-header-svg {
  display: flex;
  justify-content: space-between;
}

.contacts-header-svg div {
  margin-right: 1rem;
}

.contacts-header-svg:nth-child(2n) {
  cursor: pointer;
}

.contacts-section .person {
  margin-top: 1rem;
}

.person {
  position: relative;
}

.person::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
  right: 89%;
  top: 70%;
  padding: 0.2rem;
  border: 2px solid white;
}

.group {
  display: flex;
  margin-top: 1rem;
}

.group-images {
  padding-right: 3rem;
}

.group-images img {
  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.group-images {
  position: relative;
  width: 36px;
  height: 36px;
}

.group-images::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  right: 20%;
  bottom: 0%;
  background-color: green;
  padding: 0.2rem;
  border: 2px solid white;
  z-index: 3;
}

.group-img-1 {
  position: absolute;
  top: 35%;
  z-index: 2;
}

.group-img-2 {
  position: absolute;
  left: 25%;
}

.group-name {
  display: flex;
  align-items: center;
}

.title {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #666;
}

.title:first-child {
  margin-top: 0;
}

.contacts-header-svg svg {
  color: #666;
}

.create-message-container {
  position: absolute;
  bottom: 12%;
  right: 15%;
}

.create-message img {
  width: 18px;
  height: 18px;
}

.create-message {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 3px #777;
  padding: 1rem;
  cursor: pointer;
}

.create-group {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.create-group svg {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
}

.create-group div {
  cursor: pointer;
}

.hide {
  display: none;
}
